In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import requests
import json
# https://recruitment.aimtechnologies.co/ai-tasks

In [2]:
df=pd.read_csv('dialect_dataset.csv')
df

                         id dialect
0       1175358310087892992      IQ
1       1175416117793349632      IQ
2       1175450108898565888      IQ
3       1175471073770573824      IQ
4       1175496913145217024      IQ
...                     ...     ...
458192  1019484980282580992      BH
458193  1021083283709407232      BH
458194  1017477537889431552      BH
458195  1022430374696239232      BH
458196  1022409931029458944      BH

[458197 rows x 2 columns]

In [3]:
id=df['id'].tolist()
id = [str(x) for x in id]

In [9]:
url = "https://recruitment.aimtechnologies.co/ai-tasks"
# headers = {'Content-type': 'application/json', 'Accept': 'text/plain'}

In [11]:
text={}
for i in range(0,len(id),1000):
    id_batches=id[i:i+1000]
    request = requests.post(url, data=json.dumps(id_batches))
    while(True):
        if request.status_code == 200:
            text.update(json.loads(request.text))
            print(len(text))
        break

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000
179000
180000
181000
182000
183000
184000
185000
186000
187000
188000
189000
190000
191000
192000
193000
194000
195000
196000
197000
198000
199000
200000
201000
202000
203000
204000
205000
206000
207000
208000
209000
210000
211000
212000
213000
214000
215000
216000
217000
218000
219000
220000
221000
222000
223000
224000
225000
226000
227000
228000
229000
230000
231000
232000
233000
234000
235000
236000
237000
238000
239000
240000
241000
242000
243000
244000
245000
246000
247000
248000
249000
250000
251000
252000
253000
254000
255000
256000
257000
258000
259000
260000
261000
262000
263000
264000
265000
266000
267000
268000
269000
270000
271000
272000
273000
274000
275000
276000
277000
278000
279000
280000
281000
282000
283000
284000
285000
286000
287000
288000
289000
290000
291000
292000
293000
294000
295000
296000
297000
298000
299000
300000
301000
302000
303000
304000
305000
306000
307000
308000
309000
310000
311000
312000
313000
314000
315000
316000
317000
318000
319000
320000
321000
322000
323000
324000
325000
326000
327000
328000
329000
330000
331000
332000
333000
334000
335000
336000
337000
338000
339000
340000
341000
342000
343000
344000
345000
346000
347000
348000
349000
350000
351000
352000
353000
354000
355000
356000
357000
358000
359000
360000
361000
362000
363000
364000
365000
366000
367000
368000
369000
370000
371000
372000
373000
374000
375000
376000
377000
378000
379000
380000
381000
382000
383000
384000
385000
386000
387000
388000
389000
390000
391000
392000
393000
394000
395000
396000
397000
398000
399000
400000
401000
402000
403000
404000
405000
406000
407000
408000
409000
410000
411000
412000
413000
414000
415000
416000
417000
418000
419000
420000
421000
422000
423000
424000
425000
426000
427000
428000
429000
430000
431000
432000
433000
434000
435000
436000
437000
438000
439000
440000
441000
442000
443000
444000
445000
446000
447000
448000
449000
450000
451000
452000
453000
454000
455000
456000
457000
458000
458197

In [12]:
len(text)

458197

In [50]:
df2=pd.DataFrame(text.items(), columns=['id', 'text'])
df2

                         id                                               text
0       1175358310087892992   @Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1       1175416117793349632  @7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2       1175450108898565888                    @KanaanRema مبين من كلامه خليجي
3       1175471073770573824         @HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4       1175496913145217024                 @hmo2406 وين هل الغيبه  اخ محمد 🌸🌺
...                     ...                                                ...
458192  1019484980282580992              @Al_mhbaa_7 مبسوطين منك اللي باسطانا😅
458193  1021083283709407232       @Zzainabali @P_ameerah والله ماينده ابش يختي
458194  1017477537889431552  @Al_mhbaa_7 شو عملنا لك حنا تهربي مننا احنا مس...
458195  1022430374696239232        @haneenalmwla الله يبارك فيها وبالعافيه 😋😋😋
458196  1022409931029458944          @jolnar121 السحله ضيفي ي بتطلع لك سحليه😅😅

[458197 rows x 2 columns]

In [51]:
data = pd.concat([df, df2['text']], axis=1)

In [53]:
data.to_csv('dialect_dataset with text.csv', encoding='utf-8')

In [59]:
data.head(10)

,id,dialect,text
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2,1175450108898565888,IQ,@KanaanRema مبين من كلامه خليجي
3,1175471073770573824,IQ,@HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4,1175496913145217024,IQ,@hmo2406 وين هل الغيبه اخ محمد 🌸🌺
5,1175668034146643968,IQ,@Badi9595 @KanaanRema يااخي الإرهابي اذا كان ع...
6,1175670153884983296,IQ,@SarahNadhum90 @nUBNTdfVgACYQxV مطلبي يقدم است...
7,1175671762580856832,IQ,@KanaanRema @Badi9595 خلص والله لعيونكم انا ما...
8,1175715664398561280,IQ,@SalahAlarbawi يمكن سؤال فات الكثير اللي يصور ...
9,1176019816072777728,IQ,@Eng_alow91 @cb4LwpWrS1hT5lb @EdyCohen اولا ان...

In [61]:
print(data.shape)

(458197, 3)